<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tk.cs8898.elfofflinett">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LicenseActivity"
            android:label="@string/title_activity_licence"
            android:screenOrientation="portrait"/>

        <service
            android:name=".services.FetchTimeTableService"
            android:exported="false" />
        <service android:name=".services.FetchTimeTableService$ScheduledFetchTimetableService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name=".services.NotificationService"
            android:exported="false" />
        <service android:name=".services.NotificationService$ScheduledNotificationService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="tk.cs8898.elfofflinett.alarm.triggernotification" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.AutostartReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>